<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ecommage_thanhex2_post_listing_data_source" xsi:type="string">Ecommage_thanhex2</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Ecommage_thanhex2" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">thanhex2</argument>
            <argument name="resourceModel" xsi:type="string">Ecommage\ThanhEx2\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>

    <type name="Ecommage\ThanhEx2\Cron\Test">
        <arguments>
            <argument name="logger" xsi:type="object">\Psr\Log\LoggerInterface</argument>
        </arguments>
    </type>
    <type name="Ecommage\ThanhEx2\Cron\CronTest">
        <arguments>
            <argument name="logger" xsi:type="object">\Psr\Log\LoggerInterface</argument>
        </arguments>
    </type>
</config>
