<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="thanhext3" id="thanhext3">
            <module name="Ecommage_Thanhext3"/>
        </route>
    </router>
</config>
