<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <helloworld>
            <general>
                <enable>1</enable>
                <display_text>Hello World</display_text>
                <general2>
                    <textcon>Hello World con</textcon>
                </general2>
            </general>
            <general1>
                <enable1>0</enable1>
                <textcha>Hello World cha</textcha>
            </general1>
        </helloworld>
    </default>
</config>

