<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Ecommage_Thanhext3::thanhext3" title="Thanh Ext3" sortOrder="1">
                    <resource id="Ecommage_Thanhext3::post" title="Posts" sortOrder="10"/>
                    <resource id="Ecommage_Thanhext3::thanhext3_configuration" title="Configuration" sortOrder="99" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
