<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ecommage_Thanhext3::thanhext3" title="Thanh Ext3" module="Ecommage_Thanhext3" sortOrder="51" resource="Ecommage_Thanhext3::thanhext3"/>
        <add id="Ecommage_Thanhext3::post" title="Manage Posts" module="Ecommage_Thanhext3" sortOrder="10" action="thanhext3admin/post/index" resource="Ecommage_Thanhext3::post" parent="Ecommage_Thanhext3::thanhext3"/>
        <add id="Ecommage_Thanhext3::thanhext3_configuration" title="Configuration" module="Ecommage_Thanhext3" sortOrder="99" action="adminhtml/system_config/edit/section/helloworld" resource="Ecommage_Thanhext3::thanhext3_configuration" parent="Ecommage_Thanhext3::thanhext3" />
    </menu>
</config>
